ul{
    display: flex;
    justify-content: space-around;
}
li{
    list-style-type: none;
}
a{
    text-decoration: none;
    color: grey;
}
img{
    width: 50px;
    height: auto;
}
.cars img{
    width: 100%;
    height: auto;
}
.cars
{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-gap: 10px;
}